#object files and binaries
bin/DNAscent
bin/.*
*.o

#directories we don't want to track
build/
examples/

#backups
.*swp
.*swo
.*swm

#libraries
hdf5-1.8.14/
tensorflow/
hdf5-1.8.14.tar.gz
htslib/

#generated
.depend

#ide
.project
.cproject
.pydevproject
.settings/*

#commit log file and path
src/gitcommit.h
src/softwarepath.h

#plots
*.png
*.pdf
