#object files and binaries
bin/Osiris
*.o
Osiris/*.pyc

#directories we don't want to track
build/
examples/

#backups
.*swp
.*swo
.*swm

#libraries
hdf5-1.8.14/
hdf5-1.8.14.tar.gz
fast5/
htslib-1.8/
