#object files and binaries
bin/DNAscent
bin/.*
*.o

#directories we don't want to track
build/
examples/

#backups
.*swp
.*swo
.*swm

#libraries
hdf5-*/
hdf5-*.tar.gz
tensorflow/
htslib/
fast5/
htslib/
tinydir/

#generated
.depend

#ide
.project
.cproject
.pydevproject
.settings/*

#commit log file and path
src/gitcommit.h
src/softwarepath.h

#plots
*.png
*.pdf
